{% extends 'ejemplo/base.html' %}

{% block titulo%}

Lista de alumnos de Coderhouse
{% endblock %}
{% block contenido %}>

    <a href="/alumnos/alta">Nuevo alumno</a>
    <ul>
    {% for alumno in lista_alumnos %}
      <li> 
          Id: {{alumno.id}}, Nombre: {{alumno.nombre}}, Edad: {{alumno.edad}}, Provincia: {{alumno.provincia}}, Curso: {{alumno.curso}}
        <!-- Esto agrega un link al form de actulización-->
          <a href="/alumnos/actualizar/{{ alumno.id }}">Actualizar</a>
          <a href="/alumnos/borrar/{{ alumno.id }}">Borrar</a>
      </li>
    {% endfor %}
    </ul>
{%endblock %}