{% extends 'ejemplo/base.html' %}

{% block titulo%}

Lista de cursos de Coderhouse
{% endblock %}
{% block contenido %}
    <a href="/cursos-datos/alta{{ curso.id }}">Nuevo Curso</a>
    <ul>
    {% for curso in lista_cursos %}
      <li> 
          Id: {{curso.id}}, Nombre: {{curso.nombre}}, Duracion: {{curso.duracion}}, Dedicacion: {{curso.dedicacion}}
        <!-- Esto agrega un link al form de actulización-->
          <a href="/cursos-datos/actualizar/{{ curso.id }}">Actualizar</a>
          <a href="/cursos-datos/borrar/{{ curso.id }}">Borrar</a>
      </li>
    {% endfor %}
  </ul>
{%endblock %}



