<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de cursos de Data en Coderhouse</h1>
    <ul>
    {% for curso in lista_cursos %}     
            <li> ID: {{curso.id}}, Nombre: {{curso.nombre}}, Duracion: {{curso.duracion}}, Dedicacion: {{curso.dedicacion}} </li>
    {% endfor %}
    </ul>
    
</body>
</html>