{% extends 'ejemplo/base.html' %}

{% block titulo%}

Lista de tutores de Coderhouse
{% endblock %}
{% block contenido %}>

    <a href="/tutores/alta">Nuevo tutor</a>
    <ul>
    {% for tutor in lista_tutores %}
      <li> 
        ID: {{tutor.id}}, Nombre: {{tutor.nombre}}, Curso: {{tutor.curso}}
        <!-- Esto agrega un link al form de actulización-->
          <a href="/tutores/actualizar/{{ tutor.id }}">Actualizar</a>
          <a href="/tutores/borrar/{{ tutor.id }}">Borrar</a>
      </li>
    {% endfor %}
    </ul>
{%endblock %}
